# Protein Kenetic Stability Prediction

# Data Collection

## 1.1 Import Data and Required Packages

### Importing Pandas, Numpy, Matplotlib, Seaborn and Warings Library.

In [58]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

# Import the Data as Pandas DataFrame and merge them together and extract other features

In [59]:
#Loading data set one
dataset_one = pd.read_excel("data/MonomericProteinsWithFeatures.xlsx")

In [60]:
dataset_one.head()

,PDB,No. a.a.,Glycine,S.S.,Long SS,Charge,SASA,No. pos.,No. Surf. pos.,Pos. area,...,Neg. area,No. hyd.,No. Surf. hyd.,hyd. area,Alpha,Beta,Salt bridges,H-bonds,Unnamed: 20,Stability
0,2h5c,198,32,3,3,8,7863.050000,14,13,1202.167000,...,246.944000,75,47,1929.950000,9.600000,52.530000,8,231,ANIVGGIEYSINNASLCSVGFSVTRGATKGFVTAGHCGTVNATARI...,High
1,3w7t,760,59,1,1,-13,29082.982422,83,79,7253.579102,...,5757.744629,300,189,5466.505371,40.131579,22.236842,92,963,NADNYKNVINRTGAPQYMKDYDYDDHQRFNPFFDLGAWHGHLLPDG...,NaN
2,6uav,259,17,0,N,-8,11591.454102,20,19,1613.963379,...,2016.627563,121,74,3238.166504,43.629344,15.444015,24,342,TKSVKRGVAYDVASPADLSALSTGMSWWYNWSPKPHDRLAAYDYAG...,NaN
3,4cd5,419,32,0,N,-15,13865.898438,38,36,2739.008789,...,2796.384766,186,98,3698.914307,47.138965,13.896458,51,464,MSTSSISLSLMAALMLSAGLLLGCSEKPAESAAAVADSATTTAPQS...,NaN
4,7agm,230,28,1,1,2,8888.607422,19,18,1438.582153,...,1041.768311,88,54,2068.199463,45.871560,18.807339,16,286,GAPSNIAGMIVFLDPGHNGANDASIGRQVPTGRGGTKNCQESGTAT...,NaN

In [61]:
dataset_one['Stability'].value_counts()

Low       7
High      6
Medium    1
Name: Stability, dtype: int64

In [62]:
dataset_one = dataset_one[['PDB', 'Stability']]

dataset_one_labeled = dataset_one.dropna(subset=['Stability'])
dataset_one_labeled.reset_index(drop=True, inplace=True)

# Mapping stability categories to numbers
stability_mapping = {'High': 0, 'Medium': 1, 'Low': 1}
dataset_one_labeled['Stability'] = dataset_one_labeled['Stability'].map(stability_mapping)
dataset_one_labeled = dataset_one_labeled.rename(columns={'Stability': 'SDS Stable'})
dataset_one_labeled.shape

(14, 2)

## Loading data set Two

In [63]:

dataset_two = pd.read_excel("data/extra_data_v2.xlsx")

In [64]:
dataset_two.head()

  Abbreviation                Full name PDB (Used in simulations)  SDS Stable
0          hLA  Human alpha-lactalbumin                       1A4V         No
1         Aldo                 Aldolase                       1ADO         No
2          NaN           Ribonuclease A                       1AFK         No
3          NaN                  Insulin                       1APH         No
4          NaN               Rubredoxin                       1BRF         No

In [65]:
dataset_two['SDS Stable'].value_counts()

No     34
Yes    16
No      1
Name: SDS Stable, dtype: int64

In [66]:
dataset_two = dataset_two[(dataset_two['SDS Stable'].notna()) & (dataset_two['PDB (Used in simulations) '].notna())]
dataset_two.rename(columns={'PDB (Used in simulations) ': 'PDB'}, inplace=True)

# Mapping stability categories to numbers
dataset_two = dataset_two[['PDB', 'SDS Stable']]
stability_mapping = {'Yes': 0, 'No': 1,'No ': 1 }
dataset_two['SDS Stable'] = dataset_two['SDS Stable'].map(stability_mapping)
#dataset_two

In [83]:
result = pd.concat([dataset_one_labeled,dataset_two], ignore_index=True)
result['PDB'] = result['PDB'].str.upper()
result.drop_duplicates(keep="first", inplace=True)
result.shape

(51, 2)

# Saved the labeled row datsset

In [68]:
#result.to_excel("data/combined_data.xlsx", index=False)

In [69]:
dataa = pd.read_excel("data/combined_data.xlsx")
dataa["SDS Stable"].value_counts()

#data.head()

1    33
0    18
Name: SDS Stable, dtype: int64

# Extract the sequence data and all other features  data using PyMOL  with  pymol-bundle from PDB

In [70]:
#%run  removealt.py

In [71]:
#%run  pymol_sequence_extractor.py

In [72]:
#%run test/findSurfaceResidues.py

In [73]:
#%run removealt.py

In [74]:
#%run get_raw_distances.py

In [75]:
#%run  PyMOL_Analysiss.py

In [76]:
data = pd.read_csv("data/labeled_data.csv")
data.head()

,PDB,No. a.a.,Glycine,S.S.,Long SS,Charge,SASA,No. pos.,No. Surf. pos.,Pos. area,...,No. Surf. neg.,Neg. area,No. hyd.,No. Surf. hyd.,hyd. area,Alpha,Beta,Salt bridges,H-bonds,SDS Stable
0,2H5C,198,32,3.0,2,8,7863.049316,14,13,1202.166504,...,4,246.944275,75,47,1929.952759,9.595960,52.525253,8,213,0
1,5JVI,316,36,0.0,N,-10,12592.415039,21,21,1708.759888,...,26,1090.533569,127,74,3567.560303,48.101266,17.405063,1,3,0
2,2V1F,153,15,0.0,N,0,8144.530273,21,21,1973.160889,...,21,1814.241211,61,49,1495.550049,87.581699,0.000000,1,1,1
3,1B9O,123,6,4.0,4,-8,7029.185059,13,13,1405.147583,...,21,1874.586426,46,36,1701.761353,43.089431,4.878049,6,140,1
4,2PWA,279,33,2.0,2,1,10385.035156,20,20,1764.792358,...,18,901.254578,107,55,2552.219971,32.258065,22.580645,1,3,0

In [77]:
data.columns

Index(['PDB', 'No. a.a.', 'Glycine', 'S.S.', 'Long SS', 'Charge', 'SASA',
       'No. pos.', 'No. Surf. pos.', 'Pos. area', 'No. neg.', 'No. Surf. neg.',
       'Neg. area', 'No. hyd.', 'No. Surf. hyd.', 'hyd. area', 'Alpha', 'Beta',
       'Salt bridges', 'H-bonds', 'SDS Stable'],
      dtype='object')

## Get the Unlabeled data

In [80]:
#Loading data set one
data2 = pd.read_excel("data/MonomericProteinsWithFeatures.xlsx")


data2  = data2.rename(columns={'S.S.':'no_ss.','hyd. area':'Hyd. area','Unnamed: 20': 'Sequence', 'Stability': 'SDS Stable'})
data2['PDB'] = data2['PDB'].str.upper()
data2 = data2.drop_duplicates(subset='PDB', keep='first')
data2 = data2.reset_index(drop=True)

In [81]:
matches = data2['PDB'].isin(data['PDB'])

data2_filtered = data2[~matches].reset_index(drop=True)

#data2_filtered.to_csv('data/unlabeled.csv', index=False)
data2_filtered

,PDB,No. a.a.,Glycine,no_ss.,Long SS,Charge,SASA,No. pos.,No. Surf. pos.,Pos. area,...,Neg. area,No. hyd.,No. Surf. hyd.,Hyd. area,Alpha,Beta,Salt bridges,H-bonds,Sequence,SDS Stable
0,3W7T,760,59,1,1,-13,29082.982422,83,79,7253.579102,...,5757.744629,300,189,5466.505371,40.131579,22.236842,92,963,NADNYKNVINRTGAPQYMKDYDYDDHQRFNPFFDLGAWHGHLLPDG...,NaN
1,6UAV,259,17,0,N,-8,11591.454102,20,19,1613.963379,...,2016.627563,121,74,3238.166504,43.629344,15.444015,24,342,TKSVKRGVAYDVASPADLSALSTGMSWWYNWSPKPHDRLAAYDYAG...,NaN
2,4CD5,419,32,0,N,-15,13865.898438,38,36,2739.008789,...,2796.384766,186,98,3698.914307,47.138965,13.896458,51,464,MSTSSISLSLMAALMLSAGLLLGCSEKPAESAAAVADSATTTAPQS...,NaN
3,7AGM,230,28,1,1,2,8888.607422,19,18,1438.582153,...,1041.768311,88,54,2068.199463,45.871560,18.807339,16,286,GAPSNIAGMIVFLDPGHNGANDASIGRQVPTGRGGTKNCQESGTAT...,NaN
4,3TWY,137,6,0,N,2,8025.223633,23,23,2504.927734,...,1499.954102,46,32,1277.649292,13.868613,44.525547,9,131,TEKRGRIYLKAEVTDEKLHVTVRDAKNLIPMDPNGLSDPYVKLKLI...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3223,2OLN,397,36,0,N,-16,15693.106445,36,35,3581.365479,...,3552.280029,165,103,3145.328613,34.805195,28.051948,57,448,MTESYDVVVVGGGPVGLATAWQVAERGHRVLVLERHTFFNENGGTS...,NaN
3224,7RW4,342,52,0,N,5,15646.320312,47,43,3528.096436,...,2476.802246,110,83,4216.752930,25.233645,46.417445,39,407,SNAMTGGRFDFDDGGTYCGGWEEGKAHGHGICTGPKGQGEYSGSWS...,NaN
3225,3K5J,179,11,0,N,-14,9510.754883,11,11,905.412231,...,2247.702881,74,54,2598.407959,41.011236,22.471910,7,187,GDYNQTVLSHLQKFWKHHDIKGFTWTLGRIVEELPDFQVFQVIPNH...,NaN
3226,6GV3,180,17,0,N,3,8717.607422,19,18,1881.798462,...,1240.861816,60,37,1826.323975,40.384615,17.307692,11,153,MGSSHHHHHHSSGLVPRGSHMASGIARGRLAEERKSWRKNHPHGFV...,NaN
3227,7P8T,308,24,0,N,9,13805.827148,38,38,3500.758545,...,1940.086792,105,57,2024.168335,6.271777,60.975610,20,307,MSVGLIAPLASPIQESRANTNIENIGDGAEVIKRTEDVSSKKWGVT...,NaN

# Dataset Information

#### The meaning of the data Features in this dataset


* **PDB**: This stands for Protein Data Bank, a repository that stores 3D structural information of biological macromolecules, including proteins.

* **No. a.a.**: Number of amino acids in the protein. Amino acids are the building blocks of proteins.

* **Glycine**: The number of glycine residues in the protein. Glycine is one of the 20 standard amino acids.

* **no_ss.**: Secondary Structure. This parameter refers to the secondary structural elements present in the protein, such as alpha helices, beta sheets, turns, or coils.

* **Charge**: The overall net charge of the protein at a specific pH. Proteins can be positively charged (basic), negatively charged (acidic), or neutral, depending on the distribution of charged amino acids.

* **SASA**: Solvent Accessible Surface Area. It represents the surface area of the protein that is exposed to solvent molecules.

* **No. pos.**: Number of positively charged residues in the protein. Positively charged amino acids include lysine, arginine, and histidine.

* **No. Surf. pos.**: Number of positively charged residues on the protein's surface.

* **Pos. area**: The area of positively charged residues on the protein's surface.

* **No. neg.**: Number of negatively charged residues in the protein. Negatively charged amino acids include aspartic acid and glutamic acid.

* **No. Surf. neg.**: Number of negatively charged residues on the protein's surface.

* **Neg. area**: The area of negatively charged residues on the protein's surface.

* **No. hyd.**: Number of hydrophobic residues in the protein. Hydrophobic residues tend to be buried within the protein core away from the solvent.

* **No. Surf. hyd.**. hyd.: Number of hydrophobic residues on the protein's surface.

* **Hyd. area**: The area of hydrophobic residues on the protein's surface.

* **Sequence**: The area of hydrophobic residues on the protein's surface.
    
* **SDS Stable**: The area of hydrophobic residues on the protein's surface.